/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2

/ {
    behaviors {
        ctrl_z: ctrl_z {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRL_Z";
            #binding-cells = <0>;
            bindings = <&kp Z>, <&none>, <&kp LC(Z)>;
        };

        ctrl_x: ctrl_x {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRL_X";
            #binding-cells = <0>;
            bindings = <&kp X>, <&none>, <&kp LC(X)>;
        };

        ctrl_meta: ctrl_meta {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRL_META";
            #binding-cells = <0>;
            bindings = <&kp LC(S)>, <&kp LC(C)>;
        };

        tt: tt {
            compatible = "zmk,behavior-hold-tap";
            label = "TT";
            bindings = <&mo>, <&tog>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        space_cadet_caps: space_cadet_caps {
            compatible = "zmk,behavior-tap-dance";
            label = "SPACE_CADET_CAPS";
            #binding-cells = <0>;
            bindings = <&mt RSHIFT RIGHT_PARENTHESIS>, <&kt CAPSLOCK>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        colemak {
            /* QWERTY
 * .----------------------------------------------------------------------------------------------------------------------.
 * |  `   |   1  |   2  |   3  |   4  |   5  |  [   |                    |  ]   |   6  |   7  |   8  |   9  |   0  | PScr |
 * |------+------+------+------+------+------+------+--------------------+------+------+------+------+------+------+------|
 * | ESC  |   Q  |   W  |   E  |   R  |   T  |  -   |                    |  =   |   Y  |   U  |   I  |   O  |   P  |  \   |
 * |------+------+------+------+------+------+------+--------------------+------+------+------+------+------+------+------|
 * | Tab  |   A  |   S  |   D  |   F  |   G  | Del  |                    | Bksp |   H  |   J  |   K  |   L  |   ;  |  '   |
 * |------+------+------+------+------+------+---------------------------+------+------+------+------+------+------+------|
 * | Shift|   Z  |   X  |   C  |   V  |   B  | End  |                    | Home |   N  |   M  |   ,  |   .  |   /  | Shift|
 * |-------------+------+------+------+------+------+------+------+------+------+------+------+------+------+-------------|
 * | Ctrl |      | PGDN | Win  |||||||| Alt  | Space| Lower|||||||| Raise| Enter| RAlt ||||||||      | PGUP | Ins  | RCtrl|
 * .----------------------------------------------------------------------------------------------------------------------.
 */

            bindings = <
&mt ESC GRAVE               &kp N1         &kp N2        &kp N3      &kp N4            &kp N5  &kp MINUS                            &kp EQUAL  &kp N6  &kp N7             &kp N8     &kp N9   &kp N0         &tog 2
&kp TAB                     &kp Q          &kp W         &kp F       &kp P             &kp G   &kp PG_UP                            &kp HOME   &kp J   &kp L              &kp U      &kp Y    &kp SEMICOLON  &kp BSLH
&tt 1 1                     &kp A          &kp R         &kp S       &kp T             &kp D   &kp PG_DN                            &kp END    &kp H   &kp N              &kp E      &kp I    &kp O          &kp SQT
&mt LSHFT LEFT_PARENTHESIS  &kp Z          &kp X         &kp C       &kp V             &kp B              &kp DEL        &kp INS               &kp K   &kp M              &kp COMMA  &kp DOT  &kp SLASH      &space_cadet_caps
&kp LCTRL                   &kp LG(LMETA)  &kp LEFT_ALT  &ctrl_meta  &kp LEFT_BRACKET          &kp SPACE  &kp BACKSPACE  &kp ENTER  &kp SPACE          &kp RIGHT_BRACKET  &kp LEFT   &kp UP   &kp DOWN       &kp RIGHT
            >;
        };

        function {
            /* .----------------------------------------------------------------------------------------------------------------------.
 * |  F11 |  F1  |  F2  |  F3  |  F4  |  F5  |      |                    |      |  F6  |  F7  |  F8  |  F9  |  F10 |  F12 |
 * |------+------+------+------+------+------+------+--------------------+------+------+------+------+------+------+------|
 * |      |      |      |      |      |      |      |                    |      |      |      |      |      |      |      |
 * |------+------+------+------+------+------+------+--------------------+------+------+------+------+------+------+------|
 * |      |      |      |      |      |      |      |                    |      |      |      |      |      |      |      |
 * |------+------+------+------+------+------+---------------------------+------+------+------+------+------+------+------|
 * | Shift| Boot | Reset|      |      |      |      |                    |      |      |      |      |      |      | Shift|
 * |-------------+------+------+------+------+------+------+------+------+------+------+------+------+------+-------------|
 * | Ctlr |      |      |  Win |||||||| Alt  |      | Lower|||||||| Raise|      | RAlt ||||||||      |      |      | RCtrl|
 * .----------------------------------------------------------------------------------------------------------------------.
 */ /* FIXME boot and reset are not yet locale aware */
            bindings = <
&none   &kp F1    &kp F2    &kp F3     &kp F4  &kp F5  &kp F11                  &kp F12  &kp F6        &kp F7     &kp F8        &kp F9        &kp F10       &none
&none   &none     &kp UP    &none      &none   &none   &none                    &none    &none         &none      &none         &none         &none         &none
&none   &kp LEFT  &kp DOWN  &kp RIGHT  &none   &none   &none                    &none    &kp KP_MINUS  &kp UNDER  &kp KP_EQUAL  &kp KP_PLUS   &none         &kp K_MUTE
&trans  &none     &none     &none      &none   &none            &none   &none            &none         &none      &none         &none         &none         &kp K_PLAY_PAUSE
&trans  &none     &none     &trans     &trans          &none    &trans  &trans  &none                  &trans     &kp K_PREV    &kp K_VOL_UP  &kp K_VOL_DN  &kp K_NEXT
            >;
        };

        qwerty {
            bindings = <
&mt ESC GRAVE               &kp N1         &kp N2        &kp N3      &kp N4            &kp N5  &kp MINUS                            &kp EQUAL  &kp N6  &kp N7             &kp N8     &kp N9   &kp N0     &tog 0
&kp TAB                     &kp Q          &kp W         &kp E       &kp R             &kp T   &kp PG_UP                            &kp HOME   &kp Y   &kp U              &kp I      &kp O    &kp P      &kp BSLH
&tt 1 1                     &kp A          &kp S         &kp D       &kp F             &kp G   &kp PG_DN                            &kp END    &kp H   &kp J              &kp K      &kp L    &kp SEMI   &kp SQT
&mt LSHFT LEFT_PARENTHESIS  &kp Z          &kp X         &kp C       &kp V             &kp B              &kp DEL        &kp INS               &kp N   &kp M              &kp COMMA  &kp DOT  &kp SLASH  &space_cadet_caps
&kp LCTRL                   &kp LG(LMETA)  &kp LEFT_ALT  &ctrl_meta  &kp LEFT_BRACKET          &kp SPACE  &kp BACKSPACE  &kp ENTER  &kp SPACE          &kp RIGHT_BRACKET  &kp LEFT   &kp UP   &kp DOWN   &kp RIGHT
            >;
        };
    };
};
